[submodule "opendial"]
	path = opendial
	url = https://github.com/EllaVator/opendial.git
	ignore = dirty
[submodule "sphinx4"]
	path = sphinx4
	url = https://github.com/EllaVator/sphinx4.git
	ignore = dirty
